@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color-scheme: light dark;
  background: linear-gradient(to right, #f4512c, #5e1b89);
  margin-bottom: 2rem;
}

.nav {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  background-color: white;
  color: #5e1b89;
}

.task-container,
.percentage-container,
.list-container {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  font-family: "Lato", sans-serif;
}

.task-container,
.percentage-container {
  margin-top: 6rem;
}

.list-container,
.completed-container {
  margin-top: 4rem;
}

.completed-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
}

.completed-container h3,
.list-container h3,
.task-container h3,
.percentage-container h3 {
  font-family: "Roboto Slab", serif;
}
